# Panda Series Exercises

## Exercises Part I

In [1]:
import pandas as pd
import numpy as np
from pydataset import data

In [4]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [5]:
# 1. Determine the number of elements in fruits.
fruits.size

17

In [44]:
# 2. Output only the index from fruits.
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [46]:
# 3. Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [47]:
list(fruits.values)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [15]:
# 4. Confirm the data type of the values in fruits.
fruits.dtype

dtype('O')

In [10]:
# 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [16]:
# 5b. last three values
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [20]:
# 5c. two random values from fruits
fruits.sample(2)

16    papaya
6     tomato
dtype: object

In [23]:
# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [29]:
# 7. Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [54]:
# 8. Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [56]:
# 9. Determine the string value that occurs most frequently in fruits.
fruits.value_counts().idxmax()

'kiwi'

In [60]:
fruits.value_counts().nlargest(1)

kiwi    4
dtype: int64

In [59]:
# 10. Determine the string value that occurs least frequently in fruits.
fruits.value_counts().idxmin()

'strawberry'

## Exercises Part II

In [72]:
fruits_series = fruits

In [61]:
# 1.Capitalize all the string values in fruits.
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [111]:
# 2. Count the letter "a" in all the string values (use string vectorization).
has_a = list('a')
fruits_series.isin(has_a).count()

17

In [113]:
fruits_series.str.count('a').sum()

14

In [100]:
fruits_series[fruits_series.isin(has_a)]

Series([], dtype: object)

## Help on 3

In [151]:
# 3. Output the number of vowels in each and every string value. 
# HINT: make it work for one fruit, then make function and use .apply.
vowels = list('aeiouAEIOU')
gooseberry = fruits_series[15]

vowel_counter = 0
for x in gooseberry:
    if x in vowels:
        vowel_counter += 1

print(vowel_counter)

4

In [216]:
vowel_counter_series = 0

fruit_series_list = fruit_series.tolist()
fruits_joined = ''.join(fruit_series_list)
fruit_joined_nospaces = fruits_joined.replace(' ','')

for vowel in fruit_joined_nospaces:
    if vowel in vowels:
        vowel_counter_series += 1

print(vowel_counter_series)

31

In [193]:
fruits_joined

'kiwimangostrawberrypineapplegala applehoneycrisp appletomatowatermelonhoneydewkiwikiwikiwimangoblueberryblackberrygooseberrypapaya'

In [217]:
fruit_joined_nospaces

'kiwimangostrawberrypineapplegalaapplehoneycrispappletomatowatermelonhoneydewkiwikiwikiwimangoblueberryblackberrygooseberrypapaya'

In [225]:
# 4. Write the code to get the longest string value from fruits. 
def longest_string(x):
    return max(x, key=len)

In [226]:
longest_string(fruit_series_list)

'honeycrisp apple'

In [264]:
# 5. Write the code to get the string values with 5 or more letters in the name.
new_list = []
for x in fruit_series_list:
    if len(x) > 5:
        new_list.append(x)

new_list

['strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [258]:
# 6. Find the fruit(s) containing the letter "o" two or more times.

fruit_series[fruit_series.str.contains("o")]

1                mango
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
15          gooseberry
dtype: object

In [259]:
# 7. Write the code to get only the string values containing the substring "berry".
fruit_series[fruit_series.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [260]:
# 8. Write the code to get only the string values containing the substring "apple".
fruit_series[fruit_series.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

## Help on 9

In [261]:
# 9. Which string value contains the most vowels?
most_vowels_list = []

for x in fruit_series_list:
    if x in vowels:
        most_vowels_list.append(x)
most_vowels_list

['papaya']

### Exercise Part III

In [288]:
letters = 'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
letters_list = list(letters)
letters_list
letters_series = pd.Series(letters_list)
letters_series

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

In [293]:
# Which letter occurs the most frequently in the letters Series?
letters_series.value_counts().head(3)

y    13
p    12
w    10
dtype: int64

In [294]:
# Which letter occurs the Least frequently?
letters_series.value_counts().tail(3)

i    5
s    5
l    4
dtype: int64

In [295]:
# How many vowels are in the Series?
letters_counter_list = []

for vowel in letters_series:
    if vowel in vowels:
        letters_counter_list += 1

letters_counter_list

TypeError: 'int' object is not iterable

In [ ]:
# How many consonants are in the Series?

In [ ]:
# Create a Series that has all of the same letters but uppercased.

In [ ]:
# Create a bar plot of the frequencies of the 6 most commonly occuring letters.